.history {
  background: #f3f3f7;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.bar {
  position: relative;
  flex-basis: 44px;
  background: #fff;
  text-align: center;
  margin-bottom: 16px;
}

.bar .back {
  position: absolute;
  left: 24px;
  top: 10px;
  color: #243262;
  font-size: 16px;
}

.bar .bar-title {
  font-size: 16px;
  line-height: 44px;
  color: #243262;
  font-weight: 600;
}

.history-filter {
  height: 44px;
  background: #fbfbfc;
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.history-filter span.label {
  margin-left: 24px;
  font-size: 14px;
  font-family: 'PingFangSC, PingFangSC-Regular';
  color: #243262;
}

.history-content {
  flex: 1;
  padding: 0 16px;
  box-shadow: 0 2px 6px 0 rgba(193, 199, 226, 0.5);
}

.history-list {
  position: relative;
  background: #fff;
  overflow-y: scroll;
  max-height: calc(100vh - 164px);
}
/* 768-604 = 164 */
.history-list .chapter-title {
  font-family: 'PingFangSC, PingFangSC-Medium';
  color: #243262;
  font-size: 20px;
  font-weight: 500;
  height: 56px;
  padding-top: 20px;
  padding-left: 20px;
}

.history-list .chapter-list {
  padding: 0 20px;
}

.history-list .ant-pagination {
  width: 100%;
  padding: 22px 20px;
  height: 64px;
}

.history-list .ant-pagination-item-active a {
  color: #fff;
  background-color: #3597ff;
  border-color: #3597ff;
}
