.main {
  background: #f3f3f7;
  height: 100%;
  padding: 20px 0;
}
.bg {
  position: fixed;
  pointer-events: none;
  height: calc(100vw - 44px);
  transform: translateX(-50%);
  top: 0;
  left: 50%;
  opacity: 0.3;
  z-index: 0;
}
